@import "element.scss";

#roc-calculator {
    @extend .main-container;
    .calculate-btn {
        margin-top: 20px;
        &:disabled {
            opacity: 0.5;
            cursor: default;
        }
    }
    .success {
        .info {
            b {
                margin-bottom: 0;
            }
        }
        h4 {
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #333;
            text-align: center;
            &.output {
                color: red;
                font-weight: bold;
                display: block;
                margin: 1em auto 0;
                font-size: 100%;
                b {
                    color: #000;
                }
            }
        }
        .button.rv-reset-btn {
            max-width: 150px;
        }
        a.button.orange {
            max-width: 320px;
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}

@import 'datepickerLack.scss';

